/*
 * Grid
 *
 */

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

/*
 * Fonts
 *
 */

$font-main: 'Roboto', sans-serif;

/*
 * Color
 *
 */
 
$color-brand: #007bff;

$color-white: #ffffff;
$color-black: #000000;

$color-bg-1: #f4f7fc;

$color-text-1: #303745;
$color-text-2: #555555;
$color-text-3: #aaaaaa;



/*
 * Animation Speed
 *
 */

$animation-speed: 0.6s;
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Decor */

/* 5 Animation*/

/* 6 Sundry */