div.significant-number
	ul.significant-number__list

		li.significant-number__item
			span.significant-number__number 15
			p.significant-number__text лет печатаем

		li.significant-number__item
			span.significant-number__number 300
			p.significant-number__text выполненных проектов

		li.significant-number__item
			span.significant-number__number 100K
			p.significant-number__text напечатанный тираж