section.operation
	div.section
		div.container
			div.row
				div.col-12
					div.section__header
						include ../title/title
						+title({tag: 'h1', text: 'Типография полного цикла'})

				div.col-12.col-md-6.col-lg-4
						include ../operation-item/operation-item
						+operation-item({img: 'book.svg', title: 'Производство книг', info: 'P - Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati debitis nulla dicta maxime necessitatibus ex accusantium autem, accusamus ea, explicabo ad illo dolores cupiditate, quam sequi laudantium evenietcorrupti! Minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsummagni officia ad, quae hic asperiores aliquid laudantium impedit, natus unde ducimus.'})

				div.col-12.col-md-6.col-lg-4
						+operation-item({img: 'paper-size.svg', title: 'Цифровая и офсетная печать', info: 'P - Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati debitis nulla dicta maxime necessitatibus ex accusantium autem, accusamus ea, explicabo ad illo dolores cupiditate, quam sequi laudantium evenietcorrupti! Minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsummagni officia ad, quae hic asperiores aliquid laudantium impedit, natus unde ducimus.'})

				div.col-12.col-md-12.col-lg-4
						+operation-item({img: 'vector.svg', title: 'Дизайн', info: 'P - Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati debitis nulla dicta maxime necessitatibus ex accusantium autem, accusamus ea, explicabo ad illo dolores cupiditate, quam sequi laudantium evenietcorrupti! Minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsummagni officia ad, quae hic asperiores aliquid laudantium impedit, natus unde ducimus.'})
