section.slaider.slaider-style
	div.swiper-container
		div.swiper-wrapper
			div.swiper-slide
				div.container
					div.row
						div.col-12.col-md-5
							div.slaider__info
								h1 Книга в твердом переплете.
								p.slaider__text-one Формат А5, 140×210,
									br 
									|224 страницы, 
									br 
									|бумага офсетная 80 гр/м2,
									br
									|тираж 5 000 экземпляров.


			div.swiper-slide
				div.container
					div.row
						div.col-12.col-md-5
							div.slaider__info
								h1 Каталог продукции - «ЗЭМ»
								p.slaider__text-two  Наилучшим способом представить свою продукцию – поместить информацию о ней в каталоги. Каталоги наилучшим образом отображают внешний вид продукта, и описывают его характеристики.

		div.swiper-pagination