doctype html
html(lang="ru")
	include include/head.pug
	+head('Первопечатник')

	body

		include ../blocks/header/header
		include ../blocks/slaider/slaider
		include ../blocks/operation/operation
		include ../blocks/information/information
		include ../blocks/services/services
		include ../blocks/our-works/our-works
		include ../blocks/footer/footer

		include include/script.pug