header.header
	div.header__top
		div.container
			div.row.align-items-center
				div.col-5.col-md-6
					div.header__soc
						include ../icon/icon.pug
						a.header__soc-link(href="#")
							+icon('icon--vk')

						a.header__soc-link(href="#")
							+icon('icon--fb')

						a.header__soc-link(href="#")
							+icon('icon--tw')

				div.col-7.col-md-6
					div.header__contacts
						include ../contacts/contacts

	div.container
		div.row
			div.col-12
				div.header__body
					div.header__logo
						include ../logo/logo

					div.header__nav
						include ../menu/menu
						+menu('Главная', 'О нас' ,'Услуги', 'Работы' ,'Отзывы','Контакты')

					div.header__hamburger
						include ../hamburger/hamburger
						+hamburger(id="hamburger")